{% extends "base.html" %}
{% block content %}
	<!-- SEARCH -->
    <section id="search" class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="search-content wow fadeInDown" data-wow-duration="1s">
                        <h2></h2><br><br>                        
                    </div>
                    <div class="form-group wow fadeInUp" data-wow-duration="1s">
                        <input type="email" class="form-control" placeholder="Start by searching any number">
                        <input type="submit" class="pull-right button search">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SEARCH -->

    <!-- MAIN -->
    <section id="testimonial" class="section text-center">
        <h2 class="section-title">2015</h2>
        <div class="container">

            <p class="wow fadeInDown" data-wow-duration="1s">
           2015 (MMXV) is the current year, and is a common year starting on Thursday (dominical letter D) of the Gregorian calendar, the 2015th year of the Common Era (CE) and Anno Domini (AD) designations, the 15th year of the 3rd millennium, the 15th year of the 21st century, and the 6th year of the 2010s decade.
            </p>
        </div>
        <!--/.container -->
    </section>
    <!-- END MAIN -->
{% endblock %}




